
<center>
    <h2>Reporting Criteria</h2>
    
    	<div>
	 

<h4 align="left">Performance and Development Summary</h4>
<br/>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />
<br/>
<h5 align="left">Print Report for Current Individual: <button type="button" class="button ui-state-hover" data-ng-click="onPrint()">Print Preview</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="button ui-state-hover" data-ng-click="selectAssociate()">Select Associate</button>

 </h5>                   
<hr style="height:1px;border:none;color:#333;background-color:#333;"/>
   
	</div>
	
</center>



 

