<h3>Confidentiality Agreement</h3>
 
<h6>
The HR Review System database contains confidential information related to Home Depot associates. 
Information related to associate performance, development, and potential is subjective, includes input from numerous Home Depot associates and is subject to change. 
Due to its nature, the information contained in the HR Review System database should not be disclosed to any unauthorized Home Depot associate or third party.</h6>

<p>
 <button type="button" class="button ui-state-hover" data-ng-click="ShowMain()">I Agree</button>
 <button type="button" class="button ui-state-hover" data-ng-click="ShowQuit()">Quit</button>
</p> 
    