        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
        }

        /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall  */
        * html .ui-autocomplete {
            height: 100px;
        }

        .ui-menu {
            font-size: 80%;
        }

        /*  MORE IE HACKS
            !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
            while regular CSS background images are relative to the CSS document. We need these here for the colorbox (Sample Help from Pref header button) in IE*/
        .cboxIE #cboxTopLeft {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderTopLeft.png', sizingMethod='scale');
        }

        .cboxIE #cboxTopCenter {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderTopCenter.png', sizingMethod='scale');
        }

        .cboxIE #cboxTopRight {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderTopRight.png', sizingMethod='scale');
        }

        .cboxIE #cboxBottomLeft {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderBottomLeft.png', sizingMethod='scale');
        }

        .cboxIE #cboxBottomCenter {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderBottomCenter.png', sizingMethod='scale');
        }

        .cboxIE #cboxBottomRight {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderBottomRight.png', sizingMethod='scale');
        }

        .cboxIE #cboxMiddleLeft {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderMiddleLeft.png', sizingMethod='scale');
        }

        .cboxIE #cboxMiddleRight {
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/internet_explorer/borderMiddleRight.png', sizingMethod='scale');
        }