/* 
Custom styles for Repair Bench v3.0 Application 
9/1/2013
Slalom Consulting
*/

body {
	color: #333;
	height: 100%;
	min-height: 100%;
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4;
	font-size: 10pt;
	position: relative;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#printcriticalrepairs, #printcriticalrepairs * {
	box-sizing: border-box;
}

#printcriticalrepairs h2 {
	color: #f59444;
	margin: 0;
}

#printcriticalrepairs h3 {
	color: #979797;
	margin: 0;
}

#printcriticalrepairs .repaircritical em {
	font-style: normal;
}

#printcriticalrepairs .repaircritical {
	border: 1px solid #cccccc;
	width: 50%;
}

#printcriticalrepairs table {
	border-collapse: collapse;
}

#printcriticalrepairs table table {
	width: 100%;
}


#printcriticalrepairs .repaircritical > tbody > tr {
	border: 1px solid #cccccc;
}

#printcriticalrepairs .repaircritical > tbody > tr td:not(.repairstatusindicator) {
	padding: 0 .25em;
}

#printcriticalrepairs .repaircritical > tbody > tr:nth-child(odd) {
	background: #eeeeee;
}

#printcriticalrepairs .repaircritical .repairstatusindicator {
	margin: 0;
	padding: 0;
	border-left: 10px solid #fff0a5;
}

#printcriticalrepairs .repaircritical .repairstatusindicator.critical {
	border-left: 10px solid #ff0000;
}

#printcriticalrepairs .repaircritical .repairid, 
#printcriticalrepairs .repaircritical .repairname, 
#printcriticalrepairs .repaircritical .repairdays, 
#printcriticalrepairs .repaircritical .repairmodel, 
#printcriticalrepairs .repaircritical .repairstatus {
	display: block;
}

#printcriticalrepairs .repaircritical .repairdays, 
#printcriticalrepairs .repaircritical .repairmodel,
#printcriticalrepairs .repaircritical .repairstatus {
	text-align: right;
}

#printcriticalrepairs .repaircritical .repairid { 
	font-size: 1.1em;
}

#printcriticalrepairs .repaircritical .repairname {
	font-size: 1.1em;
	color: #979797;
} 

#printcriticalrepairs .repaircritical .repairdays { 
	color: #333333;
	font-weight: bold;
}

#printcriticalrepairs .repaircritical .repairdays em { 
	color: #cccccc;
	font-weight: normal;
}

#printcriticalrepairs .repaircritical .repairmodel { 
	font-size: .8em;
	color: #333333;
}

#printcriticalrepairs .repaircritical .repairmodel em { 
	color: #cccccc;
}

#printcriticalrepairs .repaircritical .repairstatus { 
	color: #333333;
}

#printcriticalrepairs .repaircritical .repairstatus em { 
	color: #cccccc;
}